.history {
    margin-top: 25px;

}

.save-pack {
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    margin-bottom: 14px;
    padding-top: 0;
    width: 500px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
}

.save-pack-title {
    margin: 2px 1px 0px 1px;
    text-align: center;
    padding: 10px;
}

.record-save {
    padding-left: 10px;
    padding-right: 10px;
}

.save-table{
    table-layout: fixed;
    width: 100%;
}

.save-table td{
    background: var(--save-td-color);
}

.table-for-save-titles {
    background: var(--neutral-color);
    table-layout: fixed;
    width: 100%;
}

.strict-reset-btn {
    background-image: url('../images/reset_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;

    height: 18px;
    width: 18px;
    border: 0;

    font-size:0;
}

.save-table td:last-child {
    border: 0;
    background: transparent;
    width: 25px;
}

.table-for-save-titles th:last-child {
    width: 25px;
}
