@import url("/ShopSite/static/ShopSite/css/global.css");


:root {
    --error-color: #fc1419;
}

.error-box {
    background: var(--error-color);
    padding:3px;
    border: 0px solid black;
    border-radius: 4px;
}

.sign-in-form {
    background:var(--neutral-color);
    padding: 1px;
    border-radius: 5px;
    width: fit-content;
}

.messages {
    list-style-type: none;
}