@import url("/ShopSite/static/ShopSite/css/global.css");


.sign-in-form {
    background:var(--neutral-color);
    padding: 1px;
    border-radius: 5px;
    width: fit-content;
}

.messages {
    list-style-type: none;
}