{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> История </title>
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'CrudApp/css/history.css' %}">

</head>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'CrudApp/js/strict-reset.js' %}"></script>
<script>
    let strict_reset_view = '{% url 'strict_reset' %}';
    jQuery.fn.reverse = [].reverse;
</script>

<body>
{% include 'ShopSite/header.html' %}

<div class="center--V history">

    <div class="save-pack">
        <table class="table-for-save-titles">
            <tr>
                <th> Время </th>
                <th> Действие </th>
                <th> Товар </th>
                <th> Кол-во </th>
                <th> Цена </th>
                <th> Кем </th>
                <th> </th>
            </tr>
        </table>
    </div>

    {% for saves_pack in saves_group_by_date %}

        <div class="save-pack">
            <p class="save-pack-title center--H"> {{ saves_pack.0.date|date:"d.m.y" }}</p>
            <table class="save-table">
                {% for save in saves_pack %}
                    <tr>
                        <td>{{ save.time|time:"G:i.s" }}</td>
                        <td>{{ save.ru_mode }}</td>
                        <td>{{ save.name }}</td>
                        <td>{{ save.count }}</td>
                        <td>{{ save.price }}₽</td>
                        <td>{{ save.salesmen.username }}</td>
                        <td><button class="strict-reset-btn" data-save-id="{{ save.id }}"></button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endfor %}
</div>

</body>
</html>