{% load static %}


<!DOCTYPE html>
    <html lang="ru">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CRUD</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'ShopSite/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/crud.css' %}">

    <script src="{% static 'app/js/create.js' %}"></script>
    <script src="{% static 'app/js/create-new.js' %}"></script>
    <script src="{% static 'app/js/delete.js' %}"></script>
    <script src="{% static 'app/js/update.js' %}"></script>
</head>


<script>
    let create_product_view = '{% url 'create_product' %}';
    let delete_product_view = '{% url 'delete_product' %}';
    let update_product_view = '{% url 'update_product' %}';
    let create_mode;
</script>


<body>
{% include 'ShopSite/header.html' %}
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div style="display:flex; padding-bottom: 7px;">
                <h3 style="flex-grow:100;"><b> Товары </b></h3>
                <div class="h-w-fit-content"></div>
                <button type="button" style="background: var(--neutral-color);" class="btn btn-info create-new"><i class="fa fa-plus"></i> Добавить </button>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th id="name">Наименование</th>
                        <th id="price">Цена</th>
                        <th id="description">Описание</th>
                        <th id="count">Количество</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr id="{{ product.id }}">
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.count}}</td>
                            <td>
                                <a class="create-btn" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                <a class="update-btn" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a class="delete-btn" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>