{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Меню </title>
    <link rel="stylesheet" href="{% static 'ShopSite/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
</head>


<body>

    <div class="global-test">
        <b> global-test </b>
    </div>

    <div class="test">
        <b> test </b>
    </div>

    <a href="{% url 'create' %}?model=Product">
        <button><b> Добавить вид товара </b></button>
    </a>

    <a href="{% url 'delete' %}?model=Product">
        <button><b> Удалить вид товара </b></button>
    </a>

    <a href="{% url 'update' %}?model=Product">
        <button><b> Редактировать товар </b></button>
    </a>

    <a href="{% url 'show' %}?model=Product">
        <button><b> Показать товары </b></button>
    </a>

</body>
</html>