@import url("/ShopSite/static/ShopSite/css/global.css");


.table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
    table-layout: fixed;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.table td:last-child {
    border: 0;
}

table.table th:last-child {
    border: 0;
    background: transparent;
    width: 85px;
}

.table-title .create-new i {
    margin-right: 4px;
}

.table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    font-family: 'Open Sans', sans-serif;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}

table.table td a.create-btn {
    color: #27C46B;
    border-radius: 4px;
}

table.table td a.update-btn {
    color: #FFC107;
    border-radius: 4px;
}

table.table td a.delete-btn {
    color: #E34724;
    border-radius: 4px;
}

table.table td a.create-btn i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}

table.table .record-changer {
    height: 28px;
    width: 95%;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 1px solid #bbbbbb;
    outline: none;
}

table.table .record-changer.error {
    border-color: #f50000;
}

table.table td .create-btn {
    display: none;
}

.search-form {
    width: 80%;
    margin-right: 1%;
}

.search-input {
    font-size: 15px;
    height: 36px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: 0px;
    outline: none;
}

.create-new {
    border-radius: 4px;
    width: 70px;
    height: 24px;
    margin-right: 16px;
}
